<ul class="list-group">
    <li class="list-group-item"><a href="@Url.Action("Audio","Post")">Audio</a></li>
    <li class="list-group-item"><a href="@Url.Action("Gallery","Post")">Gallery</a></li>
    <li class="list-group-item"><a href="@Url.Action("Image","Post")">Image</a></li>
    <li class="list-group-item"><a href="@Url.Action("Quote","Post")">Quote</a></li>
    <li class="list-group-item"><a href="@Url.Action("Video","Post")">Video</a></li>

</ul>